.wrapper {
    padding: 10px;
    width: 200px;
    
}

.content {
    color: #828282;
    padding-bottom: 10px;
    

    input {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}

.description {
    padding-left: 10px;
    font-size: 20px;
}