.wrapper {
    width: 200px;
    height: 30px;
    background-color: white;
    padding: 12px 12px;

    input {
        color: #828282;
        font-size: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        border-bottom: 1px ridge #828282;

    }
}